<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Connect to provider <span th:text="${#strings.toUpperCase(providerId)}">GHCOM</span></h1>
            <p class="lead text-center">
                You are not yet connected to the provider!
                <br />
                Do you want to connect now?
            </p>

            <form class="text-center" action="/connect/scmprovider" th:action="@{'/connect/' + ${providerId}}" method="post">
                <input type="hidden" name="scope" value="user,public_repo" th:value="${providerScope}"/>
                <button type="submit" class="btn btn-primary">Yes, please</button>
                <a href="/app/dashboard" class="btn btn-default">No, thanks</a>
            </form>
        </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>